<header>
  <div>
    <h1>SoloRock
      <audio id="control" src=""></audio>
          <h3>
                <button onclick="document.getElementById('control').play()">Reproducir</button>
                <button onclick="document.getElementById('control').pause()">Pausar</button>
                <button onclick="document.getElementById('control').volume+=0.1">Subir volumen</button>
                <button onclick="document.getElementById('control').volume-=0.1">Bajar volumen</button>
      </h3>

    </h1>
  </div>

</header>